
{$DOMAIN} {
	encode gzip
	handle /api/* {
		reverse_proxy backend:8080
	}
	handle /ws* {
		reverse_proxy backend:8080
	}

	handle /rtc* {
		reverse_proxy livekit:7880
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}

vetfacility.{$DOMAIN} {
	encode gzip
	reverse_proxy frontend:80
}
